
.grid-style{
	margin-bottom: 40px !important;
}

.suggested-tutors{
	font-size:1.7em;
	font-weight: 300;
	padding-bottom:1em !important;
}

.container{
	width:100%;
}

.page-number-styles {
	display: flex;
	justify-content: center;

}

.page-number-dot{
	width:2em !important;
	height:2em !important;
	cursor: pointer !important;
}
.suggested-tutor .ui.secondary.pointing.menu{
	border-bottom: none;
}
.suggested-tutor .ui.secondary.pointing.menu .active.item{

	border-color: #fbbd08;
    font-weight: 700;
    color: rgb(251, 189, 8);
}
.suggested-tutor .ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover{
	color: rgb(251, 189, 8);
    font-weight: 700;
}