.outer-setting{

}
.outer-setting .ui.vertical.right.tabular.menu{
    border:none;
}
.outer-setting .ui.vertical.right.tabular.menu .active.item{
    border: none;
    background: #f8f8f8;
    color: orange;
    
}
.outer-setting .ui.vertical.right.tabular.menu .active.item::before{
    border-left: 5px solid orange;
    
    color: orange;
    
}

.react-phone-number-input__icon-image
{
    margin-top: -11px;
}

.ui.header
{
color : #F5A623;
}

.saveUpdate
{
    background-color: #F5A623 !important;
    color:white !important;
    th
    {
        background-color: #F5A623 !important;
        color:white !important;
    }
}