.menu-container
{
display:none;
}
.title-dashboard{
    text-align: center;
    font-size: 22px;
}
.menubar{
    height: 80px;
    padding-right: 20px;
}

.navBar-logo{
    height: 40px;
}
.ui.menu .item.notification-container>i.dropdown.icon{
    display: none !important;
}
.ui.active.visible.item.top.left.pointing.dropdown.notification-container {
    font-weight: 400 !important;
}
.search-input{
    width:27em !important;
    border-right: 1px solid rgba(34,36,38,.15);
}

.search-form{
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
}

.menubar-container{
    width:230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0;
}

.trigger-container{
    flex:1 1 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trigger-content{
    flex:1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.username-text{
    font-size:16px;
    margin-bottom: 5px;
    font-weight: 100;
}

.user-credits{
    color: #999;
}

.None-border{
    border: none !important;
}
.icone-bell-size{
    height: 23px;
}

#notificationDiv1{
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

.NotificationDiv{
    z-index: 101;
    top: 105%;
    right: 5%;
    position: absolute;
    height: auto;
    width: 230px;
    border-radius: 5px;
    height: auto;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
   
}
.NotificationDiv .ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child{padding:10px;
}
.NotificationDiv a.notification-link{color: #333;}
.NotificationDiv a.notification-link:hover{color: #fac219;}
.NotificationMessage{
    
}
.pending-message{
    top: 15px;
    margin: 0 !important;
    left: 40px;
    padding: 5px;
    font-size: 10px;
    background: #ccc !important;

}
.searchFilter {
    left: -80px;
}
.menubar .trigger-container{
    display: inline-block;
}
.menubar .trigger-content{
    display: inline-block;
}