img.ui.medium.circular.image.tutor-img {
    width: 70px;
    height: auto;
   
    float: left;
    margin: 0 20px 0 0;
}
.row.custom-row {
    border: 1px solid #ccc;
    margin: 8px 0 !important;
    padding: 8px 8px;
    background: #fff;
}
.ui.small.label {
    background: orange;
    color:#fff;
}
.join-room{
    margin: 0 0;
}
.reschedule{
    margin: 0 0;
}
button.ui.yellow.button.reschedule {
    float: right;
    width: 115px;
}
button.ui.yellow.button.join-room {
    float: right;
    width: 115px;
}
.ui.star.large.disabled.rating {
    float: none;
}