.accord_container
{
width:70%;
margin:2% auto;
// background-color:beige;
background-color: #F8F8F8!important;
}
.accord_container>div
{
width:100%!important;
// background-color:beige!important;
background-color: #F8F8F8!important;
}
